# Agent
CO_API_KEY = "XXX"
OPENAI_API_KEY = "XXX"
MODEL_NAME = "gpt-4o"

# Langfuse
LANGFUSE_PUBLIC_KEY = "XXX"
LANGFUSE_SECRET_KEY = "XXX"
LANGFUSE_HOST = "https://cloud.langfuse.com"
LANGFUSE_PROJECT_ID = "XXX"

# API
BACKEND_HOST = "localhost"
BACKEND_PORT = "8000"
