# Agent
PATH_TO_LLM_API_KEY = "/run/secrets/llm_api_key"
MODEL_NAME = "gpt-4.1"
TEMPERATURE = 0.0

# Langfuse
LANGFUSE_PUBLIC_KEY = "XXX"
PATH_TO_LANGFUSE_SECRET_KEY = "/run/secrets/langfuse_secret_key"
LANGFUSE_HOST = "https://cloud.langfuse.com"
LANGFUSE_PROJECT_ID = "XXX"

# API
BACKEND_HOST = "0.0.0.0"
BACKEND_PORT = "8000"
BACKEND_PORT_CONTAINER = "8000"
RELOAD = "true"
FRONTEND_ORIGIN = "http://localhost:5173,http://127.0.0.1:5173,http://172.18.0.3:5173"

# Earth Engine
PATH_TO_EE_AUTH = "/run/secrets/ee_auth_secret"

# Authentication
JWT_SECRET_KEY = "XXX"
JWT_ALGORITHM = "HS256"
ACCESS_TOKEN_EXPIRE_MINUTES = 60

# Users
USERS_FILE = "/run/secrets/users"
