[submodule "unicef-frontend"]
	path = unicef-frontend
	url = https://github.com/tryolabs/unicef-frontend.git
[submodule "unicef-agent"]
	path = unicef-agent
	url = https://github.com/tryolabs/unicef-agent.git
[submodule "unicef-datawarehouse-mcp"]
	path = unicef-datawarehouse-mcp
	url = https://github.com/tryolabs/unicef-datawarehouse-mcp.git
[submodule "unicef-rag-mcp"]
	path = unicef-rag-mcp
	url = https://github.com/tryolabs/unicef-rag-mcp.git
[submodule "unicef-gee-mcp"]
	path = unicef-gee-mcp
	url = https://github.com/tryolabs/unicef-gee-mcp.git
